<h1 class="text-center"><%= current_user.email%><%= image_tag current_user.image, class: "avatar", height: 100%></h1>
<h3 class="text-center"><%= link_to 'Delete Account', current_user, method: :delete, data: { confirm: 'Are you sure? All posts created will also be deleted.' } if current_user%></h3>
<%= render "form" %>
